@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.custom-toast {
    background-color: rgba(255,255,255, 0.2) !important;
    backdrop-filter: blur(10px) !important;
}

@include color-mode(dark) {
    .custom-toast {
        color: #ffff !important;
    }
}