@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$bg_color: rgba(18, 20, 20, 0.35);
$bg_color_cl: rgba(255,255,255, 0.60);



@include color-mode(dark) {
    .custom-login {
        height: 100vh;
        background-image: url('images/bg_login.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }


    .login-card {
        background-color: $bg_color !important;
        backdrop-filter: blur(20px) !important;
        border: 1px solid rgba(255, 255, 255, 0.20) !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5) !important; 
    }
}

