@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/mixins.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';


#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    transition: all 0.3s ease;
    overflow-y: auto;
    position: fixed;
    z-index: 4;
    backdrop-filter: blur(10px);
   
}

.main-nav {
    height: calc(100vh - 5rem);
}

#end-menu {
    display: flex;
    flex-wrap: wrap;
    height: 5em !important;
    justify-content: flex-start;
    padding-left: 1rem;
}


.sidebar-open {
    width: 250px !important; 
    border-right: 1px solid rgba(255, 255, 255, 0.20) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.sidebar-closed {
    width: 0 !important;
    overflow: hidden;
}

#page-content-wrapper {
    transition: all 0.3s ease;
}

.content-open {
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
}

.content-closed {
    margin-left: 0;
    width: 100%;
}

#menu-toggle {
    margin-top: 10px !important;
}


@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 0;
    }

    .sidebar-open {
        width: 250px;
    }

    .sidebar-closed {
        width: 0;
    }

    .content-closed {
        margin-left: 0;
        width: 100%;
    }
}


@include media-breakpoint-down(md) {
    .sidebar-open {
        width: 100% !important;
        backdrop-filter: blur(10px);
    }

    .content-open {
        width: 100%;
        margin-left: 0 !important;
    }
}