@import './_loader.scss';
@import './_toast';
@import '../../node_modules/@fontsource/roboto/300.css';
@import '../../node_modules/@fontsource/roboto/400.css';
@import '../../node_modules/@fontsource/roboto/500.css';
@import '../../node_modules/@fontsource/roboto/700.css';


$bg_color: rgba(18, 20, 20, 0.35);

body,
div#app {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.ajs-modal {
    backdrop-filter: blur(15px);
}


#loader_container,
code {
    font-family: system-ui !important;
}