@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import './_loader.scss';

@import "../../node_modules/bootstrap/scss/variables";

$bg_color: rgba(18, 20, 20, 0.35);

.modal, .ajs-modal {
    backdrop-filter: blur(10px) !important;
}

.circular--landscape { display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; } 

.circular--landscape img { width: auto; height: 100%; margin-left: -50px; }

.circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; }

.tab-shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    
    padding: 0 !important;
}


@include color-mode(dark) {
    @include media-breakpoint-up(lg) {
        .dropdown-menu.show {
            background: $bg_color !important;
            backdrop-filter: blur(20px) !important;
            
        }
    }

    .modal {
        backdrop-filter: blur(10px) !important;

        .modal-content {
            background-color: rgba(18, 20, 20, 0.35);
            border: 1px solid rgba(255, 255, 255, 0.20) !important;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        }
    }

    
}